#container {
    min-height: 20px;
    font-size: 24px;
}

.squareLength {
    display: flex;
    flex: auto;
    justify-content: center;
    justify-items: center;
    min-height: 20px;
    min-width: 20px;

}

.squareHeight {
    display: flex;
    flex: auto;
    justify-content: center;
    justify-items: center;
    min-height: 20px;
    min-width: 20px;
}

.squareHeight:hover {
    background-color: lightgray;

}

